<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sumis a la 4ª Revolució Industrial</h2>
                <hr class="light">
                <p class="text-faded"> Descobreixi l'impacte que les eines RPA poden fer al seu negoci</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Comenci</a>
            </div>
        </div>
    </div>
</section>
