<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Per què RPA?</h2>
                <hr class="light">
                <p class="text-faded"> RPA (Robotic Process Automation) és la tecnologia que permet replicar les interaccions d'un ésser humà amb un interfaç d'usuari d'un sistema informàtic. Aquesta tecnologia és una de les precursores de la 4º Revolució Industrial, junt amb l'internet de les coses i la inteligència artificial. Descobreixi la trascendència que té i perquè és necessari implementar</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Descarregui</a>
            </div>
        </div>
    </div>
</section>
