<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serveis</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-files-o text-primary"></i>
                    <h3>Informe de viabilitat</h3>
                    <p class="text-muted">Descobreixi si és rentable implementar projectes RPA al seu negoci</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart text-primary"></i>
                    <h3>Implementació de projectes</h3>
                    <p class="text-muted">Desenvolupament de projectes clau en mà</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary"></i>
                    <h3>Cursets formatius</h3>
                    <p class="text-muted">Doti al seu personal del coneixement necessari per automatitzar processos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gears text-primary"></i>
                    <h3>Manteniment de projectes 24/365</h3>
                    <p class="text-muted">En cas que les plataformes s'actualitzin pot ser necessari reparar i actualitzar els projectes pel seu bon funcionament</p>
                </div>
            </div>
        </div>
    </div>
</section>
